* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	/* max-width: min(1200px, 95%); */
	max-width: 1400px;
}

body {
	/* background-color: var(--gray-80); */
}

:root {
	--gray-90: #151414;
	--gray-80: #1d1b1a;
	--gray-70: #302d2d;
	--gray-40: #5a5959;
	--gray-30: #a4a4a4;
	--gray-20: #e2e2e2;
	--gray-10: #f0f0f0;

	--purple-10: #d8bfd8;
	--purple-30: #92698d;
	--purple-50: #ba55d3;
	--purple-80: #9400d3;
	--purple-90: #800080;

	--blue-60: #1a3969;
	--blue-40: #4476c5;
	--teal-60: #007272;
	--teal-40: #2d9696;
	--green-60: #007600;
	--green-40: #00d800;

	--error: #fa4b4b;
	--success: #65d266;
}
